/* Global */
.nav-blue{
    background: #36A5EC;
}

.formError{
    color: red;
}

form label{
    font-weight: bold;
}

.clearfix{
    clear: both;
}

.btn-blue{
    background: #36A5EC !important;
    border-color: #36A5EC !important;
}

/* =========================== Pemesan ======================================== */

/* Homepage */
.boxBackground{
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 20px;
    min-height: 768px;
}

.boxHome{
    background: url("../img/home.jpg");
    background-position: center;
}

.formAndContact{
    display: flex;
    margin-bottom: 20px;
}

.contact{
    flex: 1;
    text-align: center;
    align-self: center;
    margin-right: 20px;
}

.formAndContact form{
    flex: 3;
}

.boxHome h1{
    text-align: center;
    margin-top: 5%;
    padding: 20px;
    border-radius: 20px;
    background: rgba(255, 255, 255, 0.7);
}

.transparentBox{
    margin: 10px auto;
    padding: 10px 20px;
    border-radius: 20px;
    background: rgba(255, 255, 255, 0.7);
}

.formCariTiket h3{
    text-align: center;
}

.selectTujuan{
    position: relative;
}

.loader{
    display: none;
    position: absolute;
    margin-top: -7.7%;
    margin-left: 82%;
    border: lightgray 5px solid;
    border-top: #36A5EC 5px solid;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    animation: spin 1s ease-in-out infinite;
}

@keyframes spin{
    0%{
        transform : rotate(0deg);
    }
    100%{
        transform : rotate(360deg);
    }
}

/* Hasil Pencarian */
.boxHasilPencarian{
    background: url("../img/hasilPencarian.jpg");
}


.headerHasilPencarian{
    padding: 0;
    /* agar row tidak melebihi container */
    margin-right: 0 !important;
    margin-left: 0 !important;
}

.headerHasilPencarian h2{
    font-size: 35px;
}

.infoCuaca{
    background: rgba(54, 165, 236, 1);
    border-radius: 0 20px 20px 0;
}

.infoCuaca img{
    width: 110px;
    height: 110px;
}

.infoCuaca .col{
    text-align: center;
    padding-top: 15px;
    color: #fff;
}

.pilihTiket{
    padding: 0;
}

.pilihTiket .col-sm-4{
    background: #36A5EC;
    border-radius: 20px 0px 20px 0px;
    padding: 10px;
    text-align: center;
    color: #fff;
    vertical-align: middle;
}

.pilihTiket .col-sm-4 h5{
    font-weight: normal;
}

.pilihTiket .list-group{
    padding: 30px 20px;
}

.listTiket .col{
    text-align: center;
}

#keteranganCuaca{
    text-transform: capitalize;
}

/* Form Pemesanan */
.boxFormPemesanan{
    background: url("../img/formPemesanan.png");
    padding-bottom: 20px;
}

.formPemesanan{
    padding: 20px;
}

.boxInfoTiket{
    background: #fff;
    border-radius: 10px;
}

.boxInfoTiket .row img{
    width: 32px;
    height: 32px;
}

.headerBiru{
    border-radius: 10px 10px 0px 0px;
    background: #36A5EC;
    color: #fff;
    margin-left: 0 !important;
    margin-right: 0 !important;
}


.headerInfoTiket{
    padding-top: 10px;
}

.bodyInfoTiket{
    padding: 10px 20px;
    margin-bottom: 20px;
}

.bodyInfoTiket h6{
    font-weight: normal;
    color: #4A4747;
}

/* agar text jumlah kursi dapat berada ditengah */
.bodyInfoTiket .col:nth-child(2) h5:first-child{
    margin-top: 30%;
}

.formPemesanan .row .headerBiru{
    padding: 5px;
}

.formDataPenumpang{
    background: #fff;
    padding: 10px 20px;
    border-radius: 0px 0px 10px 10px;
}

/* =============================== Admin ==================================== */

/* Login */
.loginBody{
    background: #99CEF0;
}

.loginForm{
    background: #fff;
    min-height: 315px;
    width: 406px;
    margin: 10% auto 0 auto;
    padding: 10px 20px;
    box-shadow: 2px 4px 8px 0px rgba(0,0,0,0.75);
    -webkit-box-shadow: 2px 4px 8px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 2px 4px 8px 0px rgba(0,0,0,0.75);
}

.loginForm h1{
    color: #36A5EC;
    font-style: italic;
    font-weight: bolder;
    text-align: center;
}

.loginForm label{
    color: #36A5EC;
    font-weight: normal;
    margin-left: 5px;
    margin-bottom: 0;
    vertical-align: middle;
}

.loginForm input{
    margin-top: 5px;
}

.loginForm .backToHome{
    display: block;
    margin-top: 5px;
    text-align: center;
}

/* Tiket */
.bodyAdmin{
    background: #F6F6F6;
}

.headerAdmin{
    margin: 30px 0px 10px 0px;
    background: #fff;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
}

.contentAdmin{
    margin: 30px 0px 10px 0px;
    background: #fff;
    border-radius: 10px;
    padding: 20px;
}

/* Pembayaran */

.boxPembayaran{
    padding: 20px;
}

.headerPembayaran{
    padding: 5px;
}

.headerPembayaran h2{
    font-weight: bold;
    margin: 0 auto;
}

.bodyPembayaran{
    text-align: center;
}